html {
  max-width: 375px;
  height: 812px;
  margin: 0 auto;
}

#app {
  font-size: 40px;
  word-break: break-all;
  max-width: 375px;
  margin: 0 auto;
  height: 812px;
  // overflow-y: auto;
  // border: solid;
}
.v-application {
  font-family: hanna;
  line-height: 1.2;
}

.v-application--wrap {
  min-height: initial !important;
}

.v-application ul {
  padding: 0;
}
// 살짝 옆에서 나오는 효과
//   .wrapper > .view-main-contents {

//     -webkit-animation: transformView 0.4s ease-out both;
//     animation: transformView 0.4s ease-out both;
//   }

//   @-webkit-keyframes transformView {
//     from {
//       opacity: 0;
//       -webkit-transform: translateX(40px) translate(40px);
//       transform: translateX(40px) translate(40px);
//     }
//   }
