.title__font {
  letter-spacing: 2px;
  font-size: 70%;

  &__little {
    font-size: 80%;
  }

  &__large {
    font-size: 40px;
  }
}

.context__font {
  font-size: 80%;
}


.category__font {
  font-size: 18px;
}

.sub__font {
  font-size: 25px;
}
.main__money__font {
  font-size: 30px;
}
.mini__font {
  font-size: 15px;
}

.micro__font {
  font-size: 8px;
}
