// 스크롤
.scroll {
  overflow-y: auto;
  overflow-x: hidden;
  white-space: pre-line;
  width: 100%;
  height: 80%;
  padding: 0.6rem;

  &::-webkit-scrollbar {
    width: 15px;
    height: 18px;
  }

  &::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
  }

  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid transparent;
    background-clip: padding-box;
    -webkit-border-radius: 100px;
    background-color: $main-color-darkyellow;
  }

  // &::-webkit-scrollbar-track {
  //   background-color: black;
  // }
}
