.sort {
  &__right {
    text-align: right;
  }
  &__center {
    text-align: center;
  }
}



.block {
  display: block !important;
}

.mt {
  &__ten {
    margin-top: 10vh;
  }

  &__five {
    margin-top: 5%;
  }
}

.ml {
  margin-left: 10%;

  &__five{
    margin-left: 5%;
  }
}

.mr {
  margin-right: 5px;
  &__ten {
    margin-right: 10%;
  }
}

.mb {
  &__five {
    margin-bottom: 5%;
  }

  &__five__vh {
    margin-bottom: 5vh;
  }

  &__ten {
    margin-bottom: 10vh;
  }
}

.pb {
  &__five {
    padding-bottom: 500px;
  }

  &__fifty {
    padding-bottom: 50px;
  }
}
.p {
  &__zero {
    padding: 0;
  }
}

.pl {
  &__ten {
    padding-left: 10px;
  }
}

.color {
  &__yellow {
    color: $main-color-darkyellow;
  }

  &__gray {
    color: $main-color-darkgray;
  }
}

.bgColor {
  &__lightgray {
    background-color: $color-lightgray;
  }

  &__white {
    background-color: $color-white;
  }
}

.pointer {
  cursor: pointer;
}

.right {
  float:right;
  right:10%
}

.center {
  text-align: center;
}

.w {
  &-100 {
    width: 100%;
  }
}

.h {
  &-200 {
    height: 200%;
  }
}