// 예시
// class라면 .class명 {
// css내용
// }

// Button CSS
* {
  box-sizing: border-box;
}

.btn-track {
  position: relative;
  text-decoration: none;
  overflow: hidden;
  background: white;
  box-shadow: 0 8px 20px -6px rgba(black, 0.3);
  border-radius: 8px;
  transition: all 0.1s ease;

  .--text {
    background-color: white;
    float: left;
    color: black;
    white-space: nowrap;
    line-height: 0px;
    height: 40px;
    padding: 20px;
    border-radius: 0 8px 8px 0;
    font-size: 16px;
    font-weight: 500;
  }
  &:hover .--text {
    color: rgba(black, 9);
  }
  &:active {
    transform: translateY(1px);
  }
}
