// 예시
// class라면 .class명 {
// css내용
// }

// Button CSS
.anaysis-button-section {
  position: relative;
  left: 280px;
  bottom: 60px;
}

// .budget-setting-button-section {
//   position: relative;
//   left: 252px;
//   bottom: 60px;
// }

// .anaysis-button {
// }

// .budget-setting-button {
//   display: inline-block;
//   background-color: rgb(253, 185, 19);
//   color: white;
// }

.mini-font {
  font-size: 15px;
  position: relative;
  left: 218px;
}
