// Fonts
@import url(//fonts.googleapis.com/earlyaccess/hanna.css);

$hanna: "Hanna", fantasy;

// color
$main-color-darkyellow: rgb(252, 175, 23);
$main-color-yellow: rgb(253, 185, 19);
$main-color-darkgray: rgb(100, 91, 76);
$main-color-gray: rgb(84, 80, 69);
$color-white: #ffffff;
