.right-sort {
  text-align: right;
}

.block {
  display: block !important;
}

.mt {
  &__ten {
    margin-top: 10vh;
  }
}

.ml {
  margin-left: 10%;

  &__five{
    margin-left: 5%;
  }
}

.mr {
  margin-right: 5px;
}

.mb {
  &__five {
    margin-bottom: 5%;
  }
}

.pb {
  &__five {
    padding-bottom: 500px;
  }
}
.p {
  &__zero {
    padding: 0;
  }
}

.color {
  &__yellow {
    color: $main-color-darkyellow;
  }

  &__gray {
    color: $main-color-darkgray;
  }
}

.pointer {
  cursor: pointer;
}

.right {
  float:right;
  right:10%
}