// 예시
// class라면 .class명 {
// css내용
// }

// Button CSS
.anaysis-button-section {
  position: relative;
  left: 280px;
  bottom: 60px;
}

.budget-setting-button-section {
  position: relative;
  left: 252px;
  bottom: 60px;
  display: inline;
}

.v-text-field input {
  font-size: 27px;
  text-align: center;
}

// .analysis-button {
//   background-color: rgb(253, 185, 19);
//   color: white;
// }

// .budget-setting-button {
//   display: inline-block;
//   background-color: rgb(253, 185, 19);
//   color: white;
// }

.mini-font-section {
  margin-top: 5px;
  position: relative;
  left: 218px;
}

.svg-inline--fa {
  color: $main-color-yellow;
}

.category-section {
  padding-top: 20px;
}

.category-start-section {
  padding-bottom: 10px;
}

.category {
  padding-bottom: 8px;
}

.category-icon-section {
  display: inline-block;
  width: 23px;
}

.category-budget {
  display: inline-block;
}

.category-floating-right {
  display: inline-block;
  float: right;
}

.edit-icon {
  padding-left: 7px;
  cursor: pointer;
}

.setting-text-area {
  width: 100px;
  padding: 0 0 0 0;
}

.main-setting {
  padding-top: 15px;
}

.padding-text-area {
  padding-top: 13px;
}

.setting-button {
  width: 100%;
  background-color: $main-color-yellow;
}

.spending-element {
  height: 50px;
}

.daily-spending-text {
  color: gray;
}

.spending-icon-padding {
  padding-right: 10px;
  position: relative;
}

.search-field {
  position: relative;
  top: 67px;
  padding-bottom: 10px;
}

.add-spending-title {
  display: inline-block;
  width: 100px;
}

.add-button-section {
  display: inline-block;
  padding-left: 15px;
}

.add-button-padding {
  padding-left: 7px;
  padding-right: 10px;
}

.element-form {
  padding-top: 20px;
}

.selector-section {
  display: inline-block;
  width: 70%;
  height: 30px;
}

.text-section {
  display: inline-block;
  width: 70%;
  height: 30px;
}

.total-budget-chart-section {
  position: relative;
  top: -40px;
}

.date-picker-section {
  height: 50px;
  display: inline-block;
  width: 70%;
}

.date-picker {
  width: 100%;
  font-size: 17px;
}

.v-input__prepend-outer {
  display: none;
}

.v-menu__content {
  left: 60px !important;
}

.success-button-section {
  padding-top: 20px;
  text-align: center;
}

.summary-section {
  padding-top: 15px;
}

.summary-date {
  color: gray;
}

.summary-element {
  padding-bottom: 10px;
}

.sub-title {
  padding-bottom: 20px;
}

.sum-spending {
  padding-top: 25px;
}

.stats-main {
  padding-top: 40px;
}

.search-section {
  position: relative;
  left: 8px;
}

.v-text-field__details {
  display: none;
}

// portfolio sidebar scss
.budget {
  &__sidebar {
    position: sticky;
    // background-color: $main-color-darkyellow; /*임의색상*/
    left: 0;
    right: 0;
    bottom: 10px;
    height: 8rem;
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
    height: 35px;
    width: 100%;

    &__div {
      background-color: lightgray;
      border-radius: 30px;
      height: 35px;
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__item {
      font-size: 20px;
      height: 20px;
      width: 80px;
      border-radius: 40px;
      text-align: center;
      color: $main-color-darkgray;

      &:hover,
      &.active {
        background-color: $main-color-darkgray;
        color: $color-white;
      }
    }
  }
}
